<div id="wrapper">
    <h1>Note Scraper</h1>
    <h2>
        <i>If you can do this...the homework should be no problem.</i>
    </h2>
    <div id="articles">
        {{#each articles}}
            <p data-id={{_id}}>{{title}}</p>
        {{/each}}
    </div>
    <div id="notes"></div>
</div>